ENV=dev

DB_USER=app
DB_PASSWORD=secret
DB_HOST=postgres
DB_PORT=5432
DB_NAME=user_pool

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=supersecret

AUTH_GRPC_CLIENT_HOST=auth-auth-1
AUTH_GRPC_CLIENT_PORT=50051
AUTH_GRPC_CLIENT_SECRET_KEY=authorization
AUTH_GRPC_CLIENT_SECRET_KEY_VALUE="Bearer supersecret"
AUTH_GRPC_CLIENT_TIMEOUT=5